@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #fd4e00 0%, #5118da 91%);
}
p{
    color:  rgb(255,128,44);
}
.nav-link{
    color: aquamarine;
}
.navbar-nav .nav-link.active{
    color:lightgrey
}
.navbar-brand img{
    width:60px;
}
.navbar-toggler{
   background-color:lightgrey
}
.sidebar{
    margin-bottom: 10px;
    border: solid  rgb(255,128,44);
    border-radius: 10px;
}
.card{
    background: linear-gradient(270deg, #fd4e00 0%, #5118da 91%);
    color:rgb(248, 161, 0);
}
.card a{
    text-decoration: none;
}
.slide-text,
.footer-text{
    color:rgb(248, 161, 0);
    margin: auto;
}
.madia-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim{
    margin-bottom: 15px;
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}
.card-wrap{
    display: inline;
}
.card-box{
    position: relative;
    cursor: pointer;

}
.card-popup{
    display: flex;
    justify-content: center;
}
.contact-text{
    background-color: rgb(255,128,44);
    color:white;
    border-radius: 10px;
    width: 220px;
    visibility: hidden;
    position: absolute;
}
.card-box:hover .contact-text{
    visibility: visible;
    position: relative;
}
.btn-outline-warning:hover{
    background-color: rgb(255,128,44);
    color: white;
}
@media (max-width:755px){
    .carousel-indicators{
        display: none;
    }
}